#container{
    margin: 10px auto;
    width: 600px;
    border: 1px solid #666;
    border-radius: 50px;
    background-color: #fff;
    
}
#container ul{
    width: 600px;
    list-style-type: none;
    list-style-position: outside;
    margin-left: 35px;
    padding: 0px;
}
#container ul li{
    list-style: none;
}
#container label{
    width: 160px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px 8px 3px;
    font-weight: bold;
    text-align: right;
    color: #666;
}
.form-control{
    width: 350px; 
}
span{
    color: red;
}